1. function movies you might like()
   1. inside the function open the csv file using read mode
   2. filter inside the csv file movies by their title
   3. return a dictionary with the key:movies you might like

In [76]:
kelvin.shape

(714, 16)

In [38]:
kelvin.iloc[3,7]

'the early life and career of vito corleone in 1920s new york city is portrayed, while his son, michael, expands and tightens his grip on the family crime syndicate.'

In [89]:
kelvin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 997
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster_link    714 non-null    object
 1   series_title   714 non-null    object
 2   released_year  714 non-null    object
 3   certificate    714 non-null    object
 4   runtime        714 non-null    object
 5   genre          714 non-null    object
 6   imdb_rating    714 non-null    float64
 7   overview       714 non-null    object
 8   meta_score     714 non-null    float64
 9   director       714 non-null    object
 10  star1          714 non-null    object
 11  star2          714 non-null    object
 12  star3          714 non-null    object
 13  star4          714 non-null    object
 14  no_of_votes    714 non-null    int64
 15  gross          714 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 111.0+ KB

In [28]:
# kelvin.columns = [col.lower() for col in kelvin.columns]
kelvin.dropna(inplace=True)
# prin(kelvin['Genre']str.lower())
kelvin.loc[2:1000,['Runtime']]

# kelvin = kelvin.map(lambda x: x.lower() if isinstance(x,str) else x)
# kelvin

     Runtime
2    152 min
3    202 min
4     96 min
5    201 min
6    154 min
..       ...
990  157 min
991  144 min
992   78 min
994   87 min
997  118 min

[712 rows x 1 columns]

In [80]:
kelvin.tail()

,poster_link,series_title,released_year,certificate,runtime,genre,imdb_rating,overview,meta_score,director,star1,star2,star3,star4,no_of_votes,gross
990,https://m.media-amazon.com/images/M/MV5BYjRmY2...,Giù la testa,1971,PG,157 min,"Drama, War, Western",7.6,A low-life bandit and an I.R.A. explosives exp...,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,"696,690"
991,https://m.media-amazon.com/images/M/MV5BMzAyND...,Kelly's Heroes,1970,GP,144 min,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,"1,378,435"
992,https://m.media-amazon.com/images/M/MV5BMjAwMT...,The Jungle Book,1967,U,78 min,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,"141,843,612"
994,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87 min,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,"13,780,024"
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"

In [81]:
kelvin.sample

<bound method NDFrame.sample of                                            poster_link  \
0    https://m.media-amazon.com/images/M/MV5BMDFkYT...
1    https://m.media-amazon.com/images/M/MV5BM2MyNj...
2    https://m.media-amazon.com/images/M/MV5BMTMxNT...
3    https://m.media-amazon.com/images/M/MV5BMWMwMG...
4    https://m.media-amazon.com/images/M/MV5BMWU4N2...
..                                                 ...
990  https://m.media-amazon.com/images/M/MV5BYjRmY2...
991  https://m.media-amazon.com/images/M/MV5BMzAyND...
992  https://m.media-amazon.com/images/M/MV5BMjAwMT...
994  https://m.media-amazon.com/images/M/MV5BZjQyMG...
997  https://m.media-amazon.com/images/M/MV5BM2U3Yz...

                 series_title released_year certificate  runtime  \
0    The Shawshank Redemption          1994           A  142 min
1               The Godfather          1972           A  175 min
2             The Dark Knight          2008          UA  152 min
3      The Godfather: Part II          1974           A  202 min
4                12 Angry Men          1957           U   96 min
..                        ...           ...         ...      ...
990              Giù la testa          1971          PG  157 min
991            Kelly's Heroes          1970          GP  144 min
992           The Jungle Book          1967           U   78 min
994        A Hard Day's Night          1964           U   87 min
997     From Here to Eternity          1953      Passed  118 min

                            genre  imdb_rating  \
0                           Drama          9.3
1                    Crime, Drama          9.2
2            Action, Crime, Drama          9.0
3                    Crime, Drama          9.0
4                    Crime, Drama          9.0
..                            ...          ...
990           Drama, War, Western          7.6
991        Adventure, Comedy, War          7.6
992  Animation, Adventure, Family          7.6
994        Comedy, Music, Musical          7.6
997           Drama, Romance, War          7.6

                                              overview  meta_score  \
0    Two imprisoned men bond over a number of years...        80.0
1    An organized crime dynasty's aging patriarch t...       100.0
2    When the menace known as the Joker wreaks havo...        84.0
3    The early life and career of Vito Corleone in ...        90.0
4    A jury holdout attempts to prevent a miscarria...        96.0
..                                                 ...         ...
990  A low-life bandit and an I.R.A. explosives exp...        77.0
991  A group of U.S. soldiers sneaks across enemy l...        50.0
992  Bagheera the Panther and Baloo the Bear have a...        65.0
994  Over two "typical" days in the life of The Bea...        96.0
997  In Hawaii in 1941, a private is cruelly punish...        85.0

                 director           star1             star2            star3  \
0          Frank Darabont     Tim Robbins    Morgan Freeman       Bob Gunton
1    Francis Ford Coppola   Marlon Brando         Al Pacino       James Caan
2       Christopher Nolan  Christian Bale      Heath Ledger    Aaron Eckhart
3    Francis Ford Coppola       Al Pacino    Robert De Niro    Robert Duvall
4            Sidney Lumet     Henry Fonda       Lee J. Cobb    Martin Balsam
..                    ...             ...               ...              ...
990          Sergio Leone     Rod Steiger      James Coburn     Romolo Valli
991       Brian G. Hutton  Clint Eastwood     Telly Savalas      Don Rickles
992   Wolfgang Reitherman     Phil Harris   Sebastian Cabot      Louis Prima
994        Richard Lester     John Lennon    Paul McCartney  George Harrison
997        Fred Zinnemann  Burt Lancaster  Montgomery Clift     Deborah Kerr

                star4  no_of_votes        gross
0      William Sadler      2343110   28,341,469
1        Diane Keaton      1620367  134,966,411
2       Michael Caine      2303232  534,858,444
3        Diane Keaton      1129952   57,300,000
4        John Fiedler       689845    4,360,000
..                ...          ...          ...
990       Maria Monti        30144      696,690
991  Carroll O'Connor        45338    1,378,435
992  Bruce Reitherman       166409  141,843,612
994       Ringo Starr        40351   13,780,024
997        Donna Reed        43374   30,500,000

[714 rows x 16 columns]>

In [14]:
kelvin.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count   714.000000  714.000000  7.140000e+02
mean      7.937115   77.158263  3.561348e+05
std       0.293278   12.401144  3.539011e+05
min       7.600000   28.000000  2.522900e+04
25%       7.700000   70.000000  9.600975e+04
50%       7.900000   78.000000  2.366025e+05
75%       8.100000   86.000000  5.077922e+05
max       9.300000  100.000000  2.343110e+06

In [12]:
import pandas as pd
import csv
# def readcsv():
kelvin=pd.read_csv('imdb_top_1000.csv')
kelvin.dropna(inplace=True)
kelvin.columns=[column.replace(' ','-') for column in kelvin.columns]
skelvin=['Runtime','Genre','Series_Title']
# nkelvin=(nkelvin).lower()
nkelvin=pd.DataFrame(kelvin[skelvin]).copy()
nkelvin = nkelvin.map(lambda x: x.lower() if isinstance(x,str) else x)
nkelvin
# .columns.str.lower()

     Runtime                         Genre              Series_Title
0    142 min                         drama  the shawshank redemption
1    175 min                  crime, drama             the godfather
2    152 min          action, crime, drama           the dark knight
3    202 min                  crime, drama    the godfather: part ii
4     96 min                  crime, drama              12 angry men
..       ...                           ...                       ...
990  157 min           drama, war, western              giù la testa
991  144 min        adventure, comedy, war            kelly's heroes
992   78 min  animation, adventure, family           the jungle book
994   87 min        comedy, music, musical        a hard day's night
997  118 min           drama, romance, war     from here to eternity

[714 rows x 3 columns]

data preparation

In [41]:
kelvin.iloc[0:10]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/m/mv5bmdfkyt...,the shawshank redemption,1994,a,142 min,drama,9.3,two imprisoned men bond over a number of years...,80.0,frank darabont,tim robbins,morgan freeman,bob gunton,william sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/m/mv5bm2mynj...,the godfather,1972,a,175 min,"crime, drama",9.2,an organized crime dynasty's aging patriarch t...,100.0,francis ford coppola,marlon brando,al pacino,james caan,diane keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/m/mv5bmtmxnt...,the dark knight,2008,ua,152 min,"action, crime, drama",9.0,when the menace known as the joker wreaks havo...,84.0,christopher nolan,christian bale,heath ledger,aaron eckhart,michael caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/m/mv5bmwmwmg...,the godfather: part ii,1974,a,202 min,"crime, drama",9.0,the early life and career of vito corleone in ...,90.0,francis ford coppola,al pacino,robert de niro,robert duvall,diane keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/m/mv5bmwu4n2...,12 angry men,1957,u,96 min,"crime, drama",9.0,a jury holdout attempts to prevent a miscarria...,96.0,sidney lumet,henry fonda,lee j. cobb,martin balsam,john fiedler,689845,"4,360,000"
5,https://m.media-amazon.com/images/m/mv5bnza5zd...,the lord of the rings: the return of the king,2003,u,201 min,"action, adventure, drama",8.9,gandalf and aragorn lead the world of men agai...,94.0,peter jackson,elijah wood,viggo mortensen,ian mckellen,orlando bloom,1642758,"377,845,905"
6,https://m.media-amazon.com/images/m/mv5bngnhmd...,pulp fiction,1994,a,154 min,"crime, drama",8.9,"the lives of two mob hitmen, a boxer, a gangst...",94.0,quentin tarantino,john travolta,uma thurman,samuel l. jackson,bruce willis,1826188,"107,928,762"
7,https://m.media-amazon.com/images/m/mv5bnde4ot...,schindler's list,1993,a,195 min,"biography, drama, history",8.9,"in german-occupied poland during world war ii,...",94.0,steven spielberg,liam neeson,ralph fiennes,ben kingsley,caroline goodall,1213505,"96,898,818"
8,https://m.media-amazon.com/images/m/mv5bmjaxmz...,inception,2010,ua,148 min,"action, adventure, sci-fi",8.8,a thief who steals corporate secrets through t...,74.0,christopher nolan,leonardo dicaprio,joseph gordon-levitt,elliot page,ken watanabe,2067042,"292,576,195"
9,https://m.media-amazon.com/images/m/mv5bmmeznt...,fight club,1999,a,139 min,drama,8.8,an insomniac office worker and a devil-may-car...,66.0,david fincher,brad pitt,edward norton,meat loaf,zach grenier,1854740,"37,030,102"

In [42]:
def movies_you_might_like(title)->dict:
    if title and len(title) >4:
        genres_you_like = (movie_df[series].str.ctains(title,case=False))
        watched_movies=[title filter]
        if watched_movies.empty:
            print{error}
        input_m0vie=watched_movie.iloc[0]
        input_genre=input[genre].split(',')
        other_movies_df[~title_filter].copy()
        other_movies[genre_overlap]=other_movies[Genre]
        lambda x:len(set(x.split(','))& input_genre)
        reccomendations=other_movies[other_movies['genre_overlap']>1]
         reccomendations= reccomendations.sort_values(
             by=['genre_overlap'],
             ascending=[False,False]
         )
        return{movies_you_might_like}: reccomendations[['series_Title','Genre']]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3709671002.py, line 4)

In [35]:
movies_you_might_like('the godfather')

                                           Poster_Link  \
0    https://m.media-amazon.com/images/m/mv5bmdfkyt...
1    https://m.media-amazon.com/images/m/mv5bm2mynj...
2    https://m.media-amazon.com/images/m/mv5bmtmxnt...
3    https://m.media-amazon.com/images/m/mv5bmwmwmg...
4    https://m.media-amazon.com/images/m/mv5bmwu4n2...
..                                                 ...
990  https://m.media-amazon.com/images/m/mv5byjrmy2...
991  https://m.media-amazon.com/images/m/mv5bmzaynd...
992  https://m.media-amazon.com/images/m/mv5bmjawmt...
994  https://m.media-amazon.com/images/m/mv5bzjqymg...
997  https://m.media-amazon.com/images/m/mv5bm2u3yz...

                 Series_Title Released_Year Certificate  Runtime  \
0    the shawshank redemption          1994           a  142 min
1               the godfather          1972           a  175 min
2             the dark knight          2008          ua  152 min
3      the godfather: part ii          1974           a  202 min
4                12 angry men          1957           u   96 min
..                        ...           ...         ...      ...
990              giù la testa          1971          pg  157 min
991            kelly's heroes          1970          gp  144 min
992           the jungle book          1967           u   78 min
994        a hard day's night          1964           u   87 min
997     from here to eternity          1953      passed  118 min

                            Genre  IMDB_Rating  \
0                           drama          9.3
1                    crime, drama          9.2
2            action, crime, drama          9.0
3                    crime, drama          9.0
4                    crime, drama          9.0
..                            ...          ...
990           drama, war, western          7.6
991        adventure, comedy, war          7.6
992  animation, adventure, family          7.6
994        comedy, music, musical          7.6
997           drama, romance, war          7.6

                                              Overview  Meta_score  \
0    two imprisoned men bond over a number of years...        80.0
1    an organized crime dynasty's aging patriarch t...       100.0
2    when the menace known as the joker wreaks havo...        84.0
3    the early life and career of vito corleone in ...        90.0
4    a jury holdout attempts to prevent a miscarria...        96.0
..                                                 ...         ...
990  a low-life bandit and an i.r.a. explosives exp...        77.0
991  a group of u.s. soldiers sneaks across enemy l...        50.0
992  bagheera the panther and baloo the bear have a...        65.0
994  over two "typical" days in the life of the bea...        96.0
997  in hawaii in 1941, a private is cruelly punish...        85.0

                 Director           Star1             Star2            Star3  \
0          frank darabont     tim robbins    morgan freeman       bob gunton
1    francis ford coppola   marlon brando         al pacino       james caan
2       christopher nolan  christian bale      heath ledger    aaron eckhart
3    francis ford coppola       al pacino    robert de niro    robert duvall
4            sidney lumet     henry fonda       lee j. cobb    martin balsam
..                    ...             ...               ...              ...
990          sergio leone     rod steiger      james coburn     romolo valli
991       brian g. hutton  clint eastwood     telly savalas      don rickles
992   wolfgang reitherman     phil harris   sebastian cabot      louis prima
994        richard lester     john lennon    paul mccartney  george harrison
997        fred zinnemann  burt lancaster  montgomery clift     deborah kerr

                Star4  No_of_Votes        Gross
0      william sadler      2343110   28,341,469
1        diane keaton      1620367  134,966,411
2       michael caine      2303232  534,858,444
3        diane keaton      1129952   57,300,000
4        john fiedler       689845    4,360,000
..                ...          ...          ...
990       maria monti        30144      696,690
991  carroll o'connor        45338    1,378,435
992  bruce reitherman       166409  141,843,612
994       ringo starr        40351   13,780,024
997        donna reed        43374   30,500,000

[714 rows x 16 columns]

In [ ]:
movies_df.dropna(subset=['Genre','Overview'],inplace=True)
def clean(text):
    if isinstance(text):
        return text.lower().strip()
    return text
text_columns=['Genre','Overview']
for col in text_columns:
    movies_df[col] = movies_app[col]y(clean_text)